body {
  background-color:#F2F2F2;
  font-family: 'Roboto', "OpenSans", "Verdana", Georgia, Serif;
  text-align:center;
}

#url-form input {
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  outline: none;
  background: white;
}

.bookmarklet, #example {
  text-align:center;
  margin:0 auto;
  color:#777;
}

#fb-save-helper {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  word-wrap: break-word;
}

.fb_iframe_widget {
  display: block !important;
  margin: 0px auto 20px auto !important;
}

.bookmarklet a, .bookmarklet a:visited, #example a, #example a:visited {
 text-decoration: none;
 color:#3b5998;
}

#example {
  color: #333;
  font-size: 13px;
  max-width: 750px;
  line-height: 20px;
}

.bookmarklet a:hover, .bookmarklet a:active, #example a:hover, #example a:active {
 text-decoration: underline;
  color:#3b74a6;
}

.header h1 {
  font-size:24px;
  font-weight:400;
  color:#777777;
  padding: 30px 0px;
}

#the_bookmarklet {
  padding: 2px 8px;
  border: 2px solid;
  border-radius: 5px;
  text-decoration: none !important;  
}

.footer {
  float:none;
  text-align:center;
  margin:0 auto;
  color:#AAA;
  margin-top:20px;
  bottom:20px;
  margin-top: 20px;
}
.prereqs {
  font-size:12px;
  margin-top:8px;
  color:#AAA;
}

.prereqs a, .prereqs a:visited {
  text-decoration: none;
  color:#AAA;
}

#save-box {
  max-width: 750px;  
  background: #333333;
  margin: 50px auto;
  text-align: center;
  border: 2px solid #DDDDDD;
  border-radius: 20px;
  padding: 20px;
  color: #CCCCCC;
}

#save-box a {
  color: whiteSmoke;
}

#save-box a:hover {
  color: white;
}

#embedhunt-embedder-product-slug-div .post {
  margin: 0 auto;
}

#embedhunt-embedder-product-slug-div .powered_by {
  display: none;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
}
.footer-push, .push {
  height: 150px;
}